.login-page{
    position: relative;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(125deg, $lightblue, $gray-x-light);
    .card-login{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 400px;
        min-height: 300px;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
        background-color: #fff;
        .card-header{
            padding: 16px;
            background-color: #007bff;
            color: #fff;
        }
        form{
            padding: 0 16px;
            .card-body{
                .form-group{
                    margin-top: 20px;
                    .group-input{
                        position: relative;
                        border-bottom: 1px solid $border-gray;
                        &.line-error{
                            border-bottom: 1px solid $maroon;
                        }
                        .form-control{
                            padding: 0 5px;
                            width: 100%;
                            height: 32px;
                            border: none;
                            background: none;
                            outline: none;
                            &:focus ~ label{
                                top: -5px;
                                color: #007bff;
                            }
                            &:valid ~ label{
                                top: -5px;
                                color: #007bff;
                            }
                            &:focus ~ .form-line::before{
                                width: 100%;
                            }
                            &:valid ~ .form-line::before{
                                width: 100%;
                            }
                        }
                        .form-line{
                            &::before{
                                content: '';
                                position: absolute;
                                left: 0;
                                width: 0;
                                height: 1px;
                                background: #007bff;
                                transition: 0.5s;
                            }
                            &.line-error{
                                &::before{
                                    background: $maroon;
                                }
                            }
                        }
                        label{
                            position: absolute;
                            top: 50%;
                            left: 5px;
                            transform: translateY(-50%);
                            padding: 0;
                            pointer-events: none;
                            color: #a29d9d;
                            transition: 0.5s;
                        }
                    }
                }
            }
            .card-footer{
                margin-top: 16px;
                .btn-sign{
                    margin: auto;
                    width: 100px;
                    padding: 10px;
                    color: #fff;
                    border-radius: 5px;
                    background-color: #007bff;
                    border-color: #007bff;
                    border: 1px solid transparent;
                }
                a{
                    display: block;
                    margin: 10px auto;
                    color: $gray-light;
                }
            }
        }
    }
}
