.signup-page{
    padding: 15px;
    background: linear-gradient(125deg, $lightblue, $gray-x-light);
    .card-signup{
        margin: auto;
        width: 750px;
        min-height: 300px;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
        background-color: #fff;
        .card-header{
            padding: 16px;
            background-color: #007bff;
            color: #fff;
        }
        .stepper-header{
            .step{
                .step-trigger{
                    padding: 20px;
                    background-color: transparent;
                    border: none;
                    text-align: center;
                    font-weight: bold;
                    color: #6c757d;
                    cursor: pointer;
                    .step-circle{
                        display: inline-flex;
                        width: 35px;
                        height: 35px;
                        border-radius: 50%;
                        background-color: #6c757d;
                        color: #fff;
                        justify-content: center;
                        align-content: center;
                        align-items: center;
                    }
                    .step-label{
                        margin-left: 5px;
                    }
                }
                &.active{
                    .step-trigger{
                        .step-circle{
                            background-color: #007bff;
                        }
                    }
                }
            }
            .step-line{
                flex: 1 0;
                min-width: 1px;
                min-height: 1px;
                margin: auto;
                background-color: $border-gray;
            }
        }
        form{
            padding: 0 16px;
            .card-body{
                .step{
                    padding: 20px 0;
                    .form-group{
                        margin-bottom: 20px;
                        label{
                            font-weight: 700;
                            margin-bottom: 3px;
                        }
                        input{
                            box-sizing: border-box;
                            width: 100%;
                            height: 32px;
                            padding: 4px 10px;
                            background-clip: padding-box;
                            border: none;
                            border-bottom: 1px solid #ced4da;
                            &:focus{
                                border-bottom: 1px solid #007bff;
                            }
                            &.i-error{
                                border-bottom: 1px solid #d81d10;
                            }
                        }
                        .group{
                            align-items: center;
                            padding: 0 10px;
                            input[type=radio]{
                                width: 20px;
                                height: 20px;
                                border-radius: 50%;
                                &.disabled{
                                    pointer-events: none;
                                }
                            }
                            label{
                                margin: 0 5px;
                                font-weight: 400;
                                &.disabled{
                                    pointer-events: none;
                                }
                            }
                        }
                    }
                    .form-action{
                        .group{
                            margin: auto;
                            button{
                                margin: auto 10px;
                            }
                        }
                        button{
                            margin: auto;
                            min-width: 100px;
                            padding: 10px;
                            color: #fff;
                            font-weight: 700;
                            border-radius: 5px;
                            background-color: #007bff;
                            border-color: #007bff;
                            border: 1px solid transparent;
                            &.btn-privice{
                                background-color: #8f98a0;
                                &:hover{
                                    background-color: #767e85;
                                }
                            }
                            &:hover{
                                background-color: #0062cc;
                            }
                        }
                        .link{
                            display: block;
                            margin: 10px auto;
                            color: #007bff;
                            font-weight: 500;
                            -webkit-text-decoration: revert;
                            text-decoration: revert;
                        }
                    }
                    .form-infomation{
                        margin: auto;
                        p{
                            text-align: center;
                        }
                    }
                }
                .hidden{
                    display: none;
                }
            }
        }
    }
}
