.sign-up{
    background: linear-gradient(125deg, $lightblue, $gray-x-light);
    .card-form-step{
        max-width: 750px;
        min-height: 300px;
        .form{
            padding: 0 16px;
            .card-body{
                .step{
                    padding: 20px 0;
                    .form-group{
                        .privacy-policy{
                            align-items: center; 
                            .lb-privacy-policy{
                                margin: auto 5px;
                                font-weight: 300;
                                .modal-service{
                                    cursor: pointer;
                                    font-weight: 600;
                                    margin: 0 5px;
                                }
                            }
                        }
                    }
                    .form-action{
                        .link{
                            display: block;
                            margin: 10px auto;
                            color: #007bff;
                            font-weight: 500;
                            -webkit-text-decoration: revert;
                            text-decoration: revert;
                        }
                    }
                    .form-infomation{
                        margin: auto;
                        p{
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}
