.page-role{
    .role-header{
        padding-bottom: 5px;
        justify-content: space-between;
        border-bottom: 1px solid $create;
    }
    .role-containers{
        margin-top: 15px;
    }
}
.form-role{
    .form-group{
        .group{
            .checkbox{
                cursor: pointer;
                align-items: center;
                input{
                    margin-right: 5px;
                }
            }
        }
    }
}