.chat{
    position: fixed;
    bottom: 60px;
    right: 20px;
    .content-horizontal{
        justify-content: flex-end;
        .item-message{
            display: none;
            position: relative;
            width: 45px;
            height: 45px;
            margin-top: 10px;
            &.active{
                display: block;
            }
            .action-close{
                display: none;
            }
            &:hover{
                .action-close{
                    position: absolute;
                    top: -5px;
                    right: -6px;
                    display: flex;
                    width: 20px;
                    height: 20px;
                    background-color: #e3e3e3;
                    border-radius: 50%;
                    color: #FF4500;
                    z-index: 1;
                    .bi-x{
                        margin: auto;
                    }
                }
            }
            
            .count{
                position: absolute;
                bottom: 0;
                right: -5px;
                display: block;
                width: 16px;
                height: 16px;
                border-radius: 30%;
                background-color: $orange_red;
                color: #fff;
                font-size: 12px;
                line-height: 1.35;
                text-align: center;
                z-index: 1;
            }
            .img-circle{
                border-radius: 50%;
                width: 45px !important;
                height: 45px !important;
                min-width: unset !important;
                max-width: unset !important;
                min-height: unset !important;
                max-height: unset !important;
            }
        }
        .new-action{
            display: flex;
            margin: 10px 0;
            background-color: #e3e3e3;
            width: 45px;
            height: 45px;
            border-radius: 50%;
            svg{
                margin: auto;
            }
        }
    }
    .content-vertical{
        margin-top: auto;
        justify-content: flex-end;
        .vertical-item{
            display: none;
            margin: 0 10px 10px;
            width: 320px;
            background: #fff;
            box-shadow: $color_box_shadow;
            border-top-right-radius: 5px;
            border-top-left-radius: 5px;
            &.active{
                display: block;
            }
            .card-header{
                height: 36px;
                background-color: transparent;
                border-bottom: 1px solid rgba(0,0,0,.125);
                padding: 6px;
                position: relative;
                border-top-left-radius: 4px;
                border-top-right-radius: 4px;
                justify-content: space-between;
                .bg-success{
                    display: block;
                    margin: auto;
                    width: 16px;
                    height: 16px;
                    border-radius: 30%;
                    background-color: $orange_red;
                    text-align: center;
                    font-size: 12px;
                    line-height: 1.35;
                    color: #fff;
                }
                .card-tools{
                    button{
                        background-color: unset;
                        border: unset;
                        display: flex;
                        svg{
                            margin: auto;
                        }
                        &:hover{
                            svg{
                                color: $orange_red;
                            }
                        }
                    }
                }
                .img-circle{
                    width: 35px !important;
                    height: 35px !important;
                    min-width: unset !important;
                    max-width: unset !important;
                    min-height: unset !important;
                    max-height: unset !important;
                    border-radius: 50%;
                    margin: unset !important;
                    margin-bottom: auto !important;
                }
                h3{
                    vertical-align: middle;
                    line-height: 2;
                    margin-right: auto;
                    margin-left: 5px;
                }
            }
            .card-body{
                padding: 6px 12px;
                max-height: 290px;
                min-height: 290px;
                overflow-y: auto;
                .chat-msg{
                    .chat-infos{
                        margin-left: 10px;
                        .chat-name{
                            font-weight: 600;
                        }
                        .chat-timestamp{
                            font-size: 12px;
                            line-height: 2;
                            font-style: italic;;
                        }
                    }
                    .chat-content{
                        .img-circle{
                            width: 35px !important;
                            height: 35px !important;
                            min-width: unset !important;
                            max-width: unset !important;
                            min-height: unset !important;
                            max-height: unset !important;
                            border-radius: 50%;
                            margin: unset !important;
                            margin-bottom: auto !important;
                        }
                        .chat-text{
                            position: relative;
                            margin-left: 10px;
                            padding: 4px 6px;
                            width: 75%;
                            background-color: #d2d6de;
                            border-radius: 5px;
                            &::before{
                                position: absolute;
                                left: -12px;
                                top: 15px;
                                content: '';
                                height: 0;
                                width: 0;
                                border: solid transparent;
                                border-width: 6px;
                                border-right: 6px solid #d2d6de;
                            }
                        }
                    }
                    &.right{
                        .chat-content{
                            flex-direction: row-reverse;
                            .chat-text{
                                margin-right: 10px;
                                margin-left: unset;
                                width: 80%;
                                background-color: #28a745;
                                color: #fff;
                                &::before{
                                    position: absolute;
                                    left: unset;
                                    right: -12px;
                                    top: 15px;
                                    content: '';
                                    height: 0;
                                    width: 0;
                                    border: solid transparent;
                                    border-width: 6px;
                                    border-left: 6px solid #28a745;
                                }
                            }
                        }
                        .chat-infos{
                            margin-right: 10px;
                            justify-content: space-between;
                        }
                    }
                }
            }
            .card-footer{
                padding: 12px 8px;
                background-color: rgba(0,0,0,.03);
                border-top: 0 solid rgba(0,0,0,.125);
                .input-group{
                    position: relative;
                    width: 100%;
                    .form-control{
                        display: block;
                        width: 100%;
                        padding: 6px 12px;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 1.5;
                        color: #495057;
                        background-color: #fff;
                        background-clip: padding-box;
                        border: 1px solid #ced4da;
                        // border-radius: 4px;
                        box-shadow: inset 0 0 0 transparent;
                        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
                        border-top-right-radius: unset;
                        border-bottom-right-radius: unset;
                        border-right: unset;
                    }
                    .btn-success{
                        display: flex;
                        border: unset;
                        background-color: #28a745;
                        border-top-right-radius: 10%;
                        border-bottom-right-radius: 10%;
                        svg{
                            margin: auto;
                            color: #fff;
                        }
                    }
                    .btn-icon{
                        display: flex;
                        border: unset;
                        background-color: #c39113;
                        border-top-left-radius: 10%;
                        border-bottom-left-radius: 10%;
                        svg{
                            margin: auto;
                            padding: 5px;
                            color: #fff;
                        }
                    }
                }
            }
        }
        .list-user{
            justify-content: space-between;
            &.active{
                display: flex;
            }
            .card-body{
                min-height: 290px;
                .list-item{
                    .item{
                        padding-top: 5px;
                        border-bottom: 1px solid #ced4da;
                        cursor: pointer;
                        &:last-child{
                            border-bottom: unset;
                        }
                        .item-avatar{
                            position: relative;
                            margin-right: 5px;
                            .img-circle{
                                width: 35px !important;
                                height: 35px !important;
                                min-width: unset !important;
                                max-width: unset !important;
                                min-height: unset !important;
                                max-height: unset !important;
                                border-radius: 50%;
                                margin: unset !important;
                                margin-bottom: auto !important;
                            }
                            &::before{
                                position: absolute;
                                bottom: 4px;
                                content: '';
                                width: 10px;
                                height: 10px;
                                border-radius: 50%;
                                background-color: #ced4da;
                                z-index: 1;
                            }
                            &.online{
                                &::before{
                                    background-color: #28a745;
                                }
                            }
                        }
                        .item-name{
                            line-height: 2;
                        }
                        .numb-message{
                            margin-top: 10px;
                            margin-left: auto;
                            width: 16px;
                            height: 16px;
                            background-color: #FF4500;
                            color: #fff;
                            font-size: 12px;
                            line-height: 1.35;
                            text-align: center;
                            border-radius: 30%;
                        }
                    }
                }
            }
            .card-footer{
                .input-group{
                    .form-control{
                        border: 1px solid #ced4da;
                    }
                }
            }
        }
    }
}