@import './header';
@import './footer';
@import './aside';
@import './chat';

main{
    min-height: calc(100vh - #{$height-header} - #{$height-footer - 3px});
}
@include responsive-min-width(768px){
    header, main, footer{
        margin-left: $sidebar-width;
    }
}