@import './header';
@import './footer';
@import './aside';
@import './chat';

body{
    margin: 0;
    padding: 0;
    font-family: $font-family;
    font-size: $font-size-root;
    font-weight: $font-weight;
    line-height: $font-line-height;
    color:$text-color;
    text-align: left;
    background-color: #fff;
    #__next{
        display: flex;
        flex-direction: row;
        main{
            width: 100%;
            .content{
                box-sizing: border-box;
                height: calc(100vh - #{$height-header} - #{$height-footer});
                overflow-y: auto;
            }
        }
    }
}