// display
.flex-r{
    display: flex;
    flex-direction: row;
}

.flex-c{
    display: flex;
    flex-direction: column;
}
.flex-w{
    flex-wrap: wrap;
}
// margin
.ml-auto{
    margin-left: auto;
}
.mr-auto{
    margin-right: auto;
}
// dropdown
.dropdown{
    position: relative;
    .dropdown-menu{
        position: absolute;
    }
}
.scroll-y{
    overflow-y: auto;
}
// https://css-tricks.com/custom-scrollbars-in-webkit/
.scrollbar{
    
}
body{
    /* Let's get this party started */
    ::-webkit-scrollbar {
        width: 5px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
        -webkit-border-radius: 10px;
        border-radius: 10px;
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb  {
        -webkit-border-radius: 10px;
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    }
    
    ::-webkit-scrollbar-thumb {
        background: $gray-light; 
    }
}
.error{
    font-size: .8rem !important;
    color: $maroon !important;
    &::first-letter {
        text-transform: uppercase !important;
    }
}