//
// Core: Variables
//

// COLORS
// --------------------------------------------------------
$blue: #0073b7 !default;
$lightblue: #3c8dbc !default;
$navy: #001f3f !default;
$teal: #39cccc !default;
$olive: #3d9970 !default;
$lime: #5aff01 !default;
$orange: #ff851b !default;
$orange_red: #FF4500 !default;
$fuchsia: #f012be !default;
$purple: #605ca8 !default;
$maroon: #d81b60 !default;
$black: #111 !default;
$gray-x-light: #d2d6de !default;
$dark-gray: #343A40 !default;
// LAYOUT
// --------------------------------------------------------
// Font default
$font-size-root: 1rem !default;
$font-family: "Source Sans Pro",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
$font-weight: 400;
$font-line-height: 1.5;
$text-color: #212529;
// Sidebar
$sidebar-width: 250px !default;
$sidebar-padding-x: 0.5rem !default;
$sidebar-padding-y: 0 !default;

// Boxed layout maximum width
$boxed-layout-max-width: 1250px !default;

// Body background (Affects main content background only)
$main-bg: #f4f6f9 !default;

// Content padding
$content-padding-y: 0 !default;
$content-padding-x: 10px !default;

// IMAGE SIZES
// --------------------------------------------------------
$img-size-sm: 1.875rem !default;
$img-size-md: 3.75rem !default;
$img-size-lg: 6.25rem !default;
$img-size-push: .625rem !default;

// MAIN HEADER
// --------------------------------------------------------
$height-header: 59px !default;


// Main header skins


// MAIN FOOTER
// --------------------------------------------------------
$height-footer: 60px !default;

// SIDEBAR SKINS
// --------------------------------------------------------

// Dark sidebar


// Light sidebar


// SIDEBAR MINI
// --------------------------------------------------------


// CONTROL SIDEBAR
// --------------------------------------------------------


// Cards
// --------------------------------------------------------


// PROGRESS BARS
// --------------------------------------------------------


// DIRECT CHAT
// --------------------------------------------------------


// CHAT WIDGET
// --------------------------------------------------------


// Z-INDEX
// --------------------------------------------------------


// TRANSITIONS SETTINGS
// --------------------------------------------------------

// Transition global options


// TEXT
// --------------------------------------------------------


// BUTTON
// --------------------------------------------------------


  
// ELEVATION
// --------------------------------------------------------
$elevations: ();
$elevations: map-merge((
    1: unquote('0 1px 3px ' + rgba($black, 0.12) + ', 0 1px 2px ' + rgba($black, 0.24)),
    2: unquote('0 3px 6px ' + rgba($black, 0.16) + ', 0 3px 6px ' + rgba($black, 0.23)),
    3: unquote('0 10px 20px ' + rgba($black, 0.19) + ', 0 6px 6px ' + rgba($black, 0.23)),
    4: unquote('0 14px 28px ' + rgba($black, 0.25) + ', 0 10px 10px ' + rgba($black, 0.22)),
    5: unquote('0 19px 38px ' + rgba($black, 0.30) + ', 0 15px 12px ' + rgba($black, 0.22)),
), $elevations);
  
// RIBBON
// --------------------------------------------------------
$ribbon-border-size: 3px !default;
$ribbon-line-height: 100% !default;
$ribbon-padding: .375rem 0 !default;
$ribbon-font-size: .8rem !default;
$ribbon-width: 90px !default;
$ribbon-wrapper-size: 70px !default;
$ribbon-top: 10px !default;
$ribbon-right: -2px !default;
$ribbon-lg-wrapper-size: 120px !default;
$ribbon-lg-width: 160px !default;
$ribbon-lg-top: 26px !default;
$ribbon-lg-right: 0px !default;
$ribbon-xl-wrapper-size: 180px !default;
$ribbon-xl-width: 240px !default;
$ribbon-xl-top: 47px !default;
$ribbon-xl-right: 4px !default;

// SHADOW
$color_box_shadow: 0 0 1px rgba(0, 0, 0, 0.125), 0 1px 3px rgb(152 148 148 / 77%);