@mixin render-transition($value) {
    -webkit-transition: $value;
    -moz-transition: $value;
    -o-transition: $value;
    -ms-transition: $value;
    transition: $value;
}
@mixin render-button($bgColor, $hoverBgColor, $color) {
    border: unset;
    color: $color;
    background-color: darken($bgColor, 10%);
    &:hover{
        background-color: $hoverBgColor;
    }
}
